<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id="happyFortuneService" class="com.springdemo.fortunes.HappyFortuneService">
    </bean>
    
    <bean id="randomFortuneService" class="com.springdemo.fortunes.RandomFortuneService">
    </bean>
    
    <bean id="myCoach" class="com.springdemo.coaches.TrackCoach">
      <constructor-arg ref="happyFortuneService"/>
    </bean>
    
    <bean id="cCoach" class="com.springdemo.coaches.CricketCoach">
      <!-- property gi vika seteri -->
      <property name="fortuneService" ref="randomFortuneService"/>
      <property name="team" value="${foo.team}"/>
      <property name="emailAdress" value="${foo.email}"/>
    </bean>
    
    <bean id="bbCoach" class="com.springdemo.coaches.BasketballCoach">
    </bean>
</beans>





